@tailwind base;
@tailwind components;
@tailwind utilities;

/* .navbar {
  @apply fixed top-0 left-0 w-full z-50 bg-[#0d0d0d]/80 backdrop-blur-md text-white shadow-lg;
}

.navbar-container {
  @apply max-w-7xl mx-auto px-6 py-4 flex justify-between items-center;
}

.logo-text {
  @apply text-2xl font-extrabold text-orange-500 tracking-wide;
}

.nav-links {
  @apply flex space-x-6 text-[16px] font-medium font-outfit text-zinc-300;
}

.nav-item {
  @apply hover:text-orange-400 transition duration-200 ease-in-out;
} */

.navbar {
  @apply fixed top-0 left-0 w-full z-50 bg-black/30 backdrop-blur-md shadow-lg;
}

.navbar-container {
  @apply max-w-7xl mx-auto px-6 py-4 flex justify-between items-center;
}

.logo-text {
  @apply text-2xl font-extrabold text-orange-500 tracking-wide;
}

.nav-links {
  @apply flex space-x-6 text-[16px] font-medium font-jakarta;
}

/* .nav-item {
  @apply relative text-gray-400 transition-all duration-300 ease-in-out hover:text-orange-400;
} */

.nav-item {
  @apply relative text-orange-400 transition-all duration-300 ease-in-out;
}
.nav-item::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: #ec7a28; /* orange-500 */
  opacity: 0.6;               /* slightly muted for balance */
  transition: width 0.3s ease, opacity 0.3s ease;
}
.nav-item:hover {
  @apply text-orange-400; /* subtle hover shift */
}
.nav-item:hover::after {
  width: 100%;
  opacity: 1;
}


